body {
  font: 100%/1.5 system-ui, sans-serif;
  max-width: 80em;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}

header h1 {
  margin: 0;
}

header label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 300px;
}

header input[type="range"] {
  width: 100%;
  margin: 0.5em 0;
}

header time, header em {
  display: block;
  margin-top: 0.25em;
}

header em {
  color: #666;
  font-style: italic;
}

#map {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle,
.legend-item {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  pointer-events: auto;
  fill: var(--color);
}

.legend {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-block: 1em;
  padding: 0.5em;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-title {
  font-weight: bold;
  margin-right: 0.5em;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend-item::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  background: var(--color);
}
